/* .sticky {
  position: fixed!important;
  top: 0;
}
.sticky .body-founders {
	transition: 0.6s ease;
} */

.head, .rotate1, .rotate2, .rotate3, .rotate4, .rotate5, .rotate6, .rotate7 {
    transform-origin: center;
}

.casestudy-nav-back .body-founders{
    opacity:0;
    transform:translateX(-40%);
    transition-delay:0.3s!important;
}

.logo-back g.rotate1 {
    animation: 0.6s ease-in-out out1 forwards;
}
.logo-back g.rotate2 {
    animation: 0.6s ease-in-out out2 forwards;
}
.logo-back g.rotate3 {
    animation: 0.6s ease-in-out out3 forwards;
}
.logo-back g.rotate4 {
    animation: 0.6s ease-in-out out4 forwards;
}
.logo-back g.rotate5 {
    animation: 0.6s ease-in-out out5 forwards;
}
.logo-back g.rotate6 {
    animation: 0.6s ease-in-out out6 forwards;
}
.logo-back g.rotate7 {
    animation: 0.6s ease-in-out out7 forwards;
}
.logo-back g.head {
    animation: 0.6s ease-in-out out8 forwards;
}
.logo-back g.trunk {
    animation: 0.3s ease-in out9 forwards;
}

@media screen and (max-width: 991px) {
	html.open .casestudy-nav .casestudy-nav-back .body-founders{
	    opacity:1;
	    transform:translateX(-15%)
	}
	html.open .casestudy-nav .casestudy-nav--content-bottom {
	    max-height: 100vh;
	}
	html.open, html.open body {
		margin: 0;
		height: 100%;
		overflow: hidden;
	}
	
	html.open .casestudy-nav .logo-back g.rotate1 {
	    animation: 0.3s ease-in in1 forwards;
	}
	html.open .casestudy-nav .logo-back g.rotate2 {
	    animation: 0.3s ease-in in2 forwards;
	}
	html.open .casestudy-nav .logo-back g.rotate3 {
	    animation: 0.3s ease-in in3 forwards;
	}
	html.open .casestudy-nav .logo-back g.rotate4 {
	    animation: 0.3s ease-in in4 forwards;
	}
	html.open .casestudy-nav .logo-back g.rotate5 {
	    animation: 0.3s ease-in in5 forwards;
	}
	html.open .casestudy-nav .logo-back g.rotate6 {
	    animation: 0.3s ease-in in6 forwards;
	}
	html.open .casestudy-nav .logo-back g.rotate7 {
	    animation: 0.3s ease-in in7 forwards;
	}
	html.open .casestudy-nav .logo-back g.head {
	    animation: 0.6s ease-in-out in8 forwards;
	}
	html.open .casestudy-nav .logo-back g.trunk {
	    animation: 0.6s ease-in-out in9 forwards;
	}
}

@media screen and (min-width: 992px) {
	.casestudy-nav:hover .casestudy-nav-back .body-founders{
	    opacity:1;
	    transform:translateX(-15%)
	}
	.casestudy-nav:hover .casestudy-nav--content-bottom {
	    opacity: 1;
	    display: grid;
	    grid-template-rows: 1fr;
	    padding-bottom: 36px
	}
	.casestudy-nav--content-bottom {
	    opacity: 0;
	    display: grid;
	    grid-template-rows: 0fr;
	}

	.casestudy-nav:hover .logo-back g.rotate1 {
	    animation: 0.3s ease-in in1 forwards;
	}
	.casestudy-nav:hover .logo-back g.rotate2 {
	    animation: 0.3s ease-in in2 forwards;
	}
	.casestudy-nav:hover .logo-back g.rotate3 {
	    animation: 0.3s ease-in in3 forwards;
	}
	.casestudy-nav:hover .logo-back g.rotate4 {
	    animation: 0.3s ease-in in4 forwards;
	}
	.casestudy-nav:hover .logo-back g.rotate5 {
	    animation: 0.3s ease-in in5 forwards;
	}
	.casestudy-nav:hover .logo-back g.rotate6 {
	    animation: 0.3s ease-in in6 forwards;
	}
	.casestudy-nav:hover .logo-back g.rotate7 {
	    animation: 0.3s ease-in in7 forwards;
	}
	.casestudy-nav:hover .logo-back g.head {
	    animation: 0.6s ease-in-out in8 forwards;
	}
	.casestudy-nav:hover .logo-back g.trunk {
	    animation: 0.6s ease-in-out in9 forwards;
	}
}

@keyframes in1 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(-90deg) translate(0);
    }
}
@keyframes in2 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(-119.36deg) translate(0, -1%);
    }
}
@keyframes in3 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(-149deg) translate(0, -2%);
    }
}
@keyframes in4 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(-31deg) translate(0);
    }
}
@keyframes in5 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(-60.64deg) translate(0);
    }
}
@keyframes in6 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(-180deg) translate(0, -2%);
    }
}
@keyframes in7 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes in8 {
    0% {
	transform: rotateZ(0) translate(0) scale(1);
    }
    50% {
	transform: rotateZ(-90deg) translate(0) scale(1.5);
    }
    100% {
	transform: rotateZ(-90deg) translate(0, -13%) scale(1.5);
    }
}
@keyframes in9 {
    0% {
	transform: translate(0);
    }
    50% {
	transform: translate(0);
    }
    100% {
	transform: translate(13%);
    }
}
@keyframes out1 {
    0% {
	transform: rotateZ(-90deg) translate(0);
    }
    50% {
	transform: rotateZ(-90deg) translate(0);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes out2 {
    0% {
	transform: rotateZ(-119.36deg) translate(0, -1%);
    }
    50% {
	transform: rotateZ(-119.36deg) translate(0, -1%);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes out3 {
    0% {
	transform: rotateZ(-149deg) translate(0, -2%);
    }
    50% {
	transform: rotateZ(-149deg) translate(0, -2%);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes out4 {
    0% {
	transform: rotateZ(-31deg) translate(0);
    }
    50% {
	transform: rotateZ(-31deg) translate(0);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes out5 {
    0% {
	transform: rotateZ(-60.64deg) translate(0);
    }
    50% {
	transform: rotateZ(-60.64deg) translate(0);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes out6 {
    0% {
	transform: rotateZ(-180deg) translate(0, -2%);
    }
    50% {
	transform: rotateZ(-180deg) translate(0, -2%);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes out7 {
    0% {
	transform: rotateZ(0) translate(0);
    }
    50% {
	transform: rotateZ(0) translate(0);
    }
    100% {
	transform: rotateZ(0) translate(0);
    }
}
@keyframes out8 {
    0% {
	transform: rotateZ(-90deg) translate(0, -14%) scale(1.5);
    }
    50% {
	transform: rotateZ(-90deg) translate(0) scale(1.5);
    }
    100% {
	transform: rotateZ(0) translate(0) scale(1);
    }
}
@keyframes out9 {
    0% {
	transform: translate(13%);
    }
    100% {
	transform: translate(0);
    }
}

.casestudy-nav .body-founders::selection, .casestudy-nav .body-fractul::selection {
  background: #F25410!important;
}


.casestudy-nav-indicator-item:hover {
    opacity: 0.5;
}

.thumbnail.full {
	pointer-events: all!important;
	position: absolute;
	width: 100%;
	opacity: 1!important;
}


.case-study .heading-1 {
  visibility: hidden;
}

.case-study .main-container *:only-child {
  visibility: hidden;
}
.case-study .body-founders {
  visibility: hidden;
}

.case-study .case-fill-object > img {
  background-color: rgb(217, 217, 217);
}

#project-expertise {
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
@media screen and (max-width: 992px) {
  .mobile-disappear {
  	opacity: 0;
  }
}
.back-icon, .link-icon {
	display: none;
}
#close-casestudy:hover .back-icon, .ext-link:hover .link-icon {
	display: block;
}
#close-casestudy:hover .hover-orange, #close-casestudy:hover .body-founders {
	color: #f25410!important;
}

.sticky-info > div {
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
@media screen and (max-width: 767px) {
  .sticky-info > div:nth-child(2) {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .sticky-info--scrolled > div:nth-child(2) {
    transform: translateX(50vw) !important;
  }
}
@media screen and (min-width: 992px) {
	.sticky-info--scrolled > div:nth-child(1) {
	  transform: translateX(5vw) !important;
  }
  .sticky-info--scrolled > div:nth-child(2) {
    transform: translateX(10vw) !important;
  }
}

/* .heading-1 span {
	display: none;
}
.case-top-bar-content > div, .next-up-overlay, .next-up-info > div {
	opacity: 0;
}
.scroll-arrows svg path {
	opacity: 0.5;
}
.fml {
	opacity: 1;
}
.project-image-intro > div {
	visibility: hidden;
}

@media screen and (min-width: 992px) {
	.project-info-wrapper .project-info > div {
		visibility: hidden;
	}
}

@media screen and (max-width: 992px) {
	.project-info-wrapper > div {
		opacity: 0;
	}
} */
