/* .sticky {
  position: fixed!important;
  top: 0;
}
.sticky .body-founders {
	transition: 0.6s ease;
} */

.casestudy-nav .body-founders::selection, .casestudy-nav .body-fractul::selection {
  background: #F25410!important;
}

.casestudy-nav-back .body-founders{
    opacity:0;
    transform:translateX(-40%);
    transition-delay:0.3s!important;
}
.casestudy-nav:hover .casestudy-nav-back .body-founders{
    opacity:1;
    transform:translateX(-15%)
}

.casestudy-nav:hover .casestudy-nav--content-bottom {
    opacity: 1;
    display: grid;
    grid-template-rows: 1fr;
    padding-bottom: 36px
}
.casestudy-nav--content-bottom {
    opacity: 0;
    display: grid;
    grid-template-rows: 0fr;
}
.casestudy-nav-indicator-item:hover {
    opacity: 0.5;
}

.thumbnail.full {
	pointer-events: all!important;
	position: absolute;
	width: 100%;
	opacity: 1!important;
}


.case-study .heading-1 {
  visibility: hidden;
}

.case-study .main-container *:only-child {
  visibility: hidden;
}
.case-study .body-founders {
  visibility: hidden;
}

.case-study .case-fill-object > img {
  background-color: rgb(217, 217, 217);
}

#project-expertise {
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
@media screen and (max-width: 992px) {
  .mobile-disappear {
  	opacity: 0;
  }
}
.back-icon, .link-icon {
	display: none;
}
#close-casestudy:hover .back-icon, .ext-link:hover .link-icon {
	display: block;
}
#close-casestudy:hover .hover-orange, #close-casestudy:hover .body-founders {
	color: #f25410!important;
}

.sticky-info > div {
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
@media screen and (max-width: 767px) {
  .sticky-info > div:nth-child(2) {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .sticky-info--scrolled > div:nth-child(2) {
    transform: translateX(50vw) !important;
  }
}
@media screen and (min-width: 992px) {
	.sticky-info--scrolled > div:nth-child(1) {
	  transform: translateX(5vw) !important;
  }
  .sticky-info--scrolled > div:nth-child(2) {
    transform: translateX(10vw) !important;
  }
}

/* .heading-1 span {
	display: none;
}
.case-top-bar-content > div, .next-up-overlay, .next-up-info > div {
	opacity: 0;
}
.scroll-arrows svg path {
	opacity: 0.5;
}
.fml {
	opacity: 1;
}
.project-image-intro > div {
	visibility: hidden;
}

@media screen and (min-width: 992px) {
	.project-info-wrapper .project-info > div {
		visibility: hidden;
	}
}

@media screen and (max-width: 992px) {
	.project-info-wrapper > div {
		opacity: 0;
	}
} */
